<?xml version="1.0"?>
<config>
  <settings>
    <floors>15</floors>
    <elevators>6</elevators>
    <persons>2</persons>
    <scale>1</scale>
    <seconds>4</seconds>
    <time>20</time>
    <doors>3</doors>
    <speed>1</speed>
    <idle>10</idle>
    <occupancy>8</occupancy>
    <alg>1</alg>
  </settings>
</config>
